<table>
    <tr>
        <td><a href="{{site.baseurl}}/mario/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/mario/player">Player</a></td>
        <td><a href="{{site.baseurl}}/mario/platform">Platform</a></td>
        <td><a href="{{site.baseurl}}/mario/tube">Tube</a></td>
        <td><a href="{{site.baseurl}}/mario/block">Block</a></td>
        <td><a href="{{site.baseurl}}/mario/goomba">Goomba</a></td>
        <td><a href="{{site.baseurl}}/mario/background">Background</a></td>
    </tr>
</table>